*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:hsl(0, 0%, 96%);
}

/* Navbar */

.navbar{
    height:70px;
    background:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 50px;
}

.left{
    display:flex;
    align-items:center;
    gap:20px;
}

.logo{
    width:120px;
}

.search-box{
    width:650px;
    height:42px;

    border:1px solid #ddd;
    border-radius:4px;

    display:flex;
    align-items:center;

    padding:0 15px;
}

.search-box i{
    color:gray;
    font-size:18px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;

    margin-left:10px;
    font-size:16px;
}

.right{
    display:flex;
    align-items:center;
    gap:25px;
}

.city{
    font-size:18px;
}

.signin{
    background:#f84464;
    color:white;

    border:none;

    padding:8px 18px;

    border-radius:5px;

    cursor:pointer;
}

.menu{
    font-size:30px;
    cursor:pointer;
}

/* Category Bar */

.category-bar{
    background:white;

    display:flex;
    justify-content:space-between;

    padding:15px 50px;

    border-top:1px solid #eee;
}

.category-left,
.category-right{
    display:flex;
    gap:30px;
}

.category-bar a{
    text-decoration:none;
    color:#333;
    font-size:18px;
}

/* Banner */

.banner-section{
    margin-top:15px;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:15px;

    position:relative;
}

.side-banner{
    width:120px;
    height:370px;

    border-radius:10px;

    object-fit:cover;
}

.center-banner{
    width:94%;
    height:300px;

    border-radius:10px;

    object-fit:cover;
}

.arrow{
    position:absolute;

    width:45px;
    height:55px;

    border:none;

    background:rgba(0,0,0,0.5);

    color:white;

    font-size:28px;

    cursor:pointer;

    border-radius:5px;
}

.left-arrow{
    left:10px;
}

.right-arrow{
    right:10px;
}